main.split-layout {
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 85%;
  height: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main.split-layout section {
  position: relative;
  background: var(--bg-ghost);
  border-radius: var(--br3);
  min-height: 95%;
  height: auto;
  max-height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

main.split-layout section p.heading {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: clamp(12px, 3vh ,20px);
    position: absolute;
    left: 10%;
    top: 5%;
}

main.split-layout section p.heading::before {
	content: '';
	display: inline-block;
	background: var(--secondary);
    height: clamp(12px, 2.75vh ,20px);
    width: clamp(1px,0.5vh,3.5px);
    transform: translate(-100%, 10%);
	}

    main.split-layout section div#ui-settings, main.split-layout section div#user-settings {
        position: absolute;
        top: 10%;
        min-width: 85%;
        max-width: 85%;
        min-height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 3vh;
        gap: 3vh;
    }

    main.split-layout section div.sub-section {
      position: relative;
      display: flex;
      flex-direction: column;
      background: var(--bg-ghost);
      border-radius: var(--br2);
      padding: 5% 3%;
      gap: 2vh;
      min-width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }

    main.split-layout section div.sub-section p.sub-heading {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: clamp(12px, 3vh ,20px);
    position: relative;
    left: 6%;
    top: 5%;
    }

main.split-layout section div.sub-section p.sub-heading::before {
	content: '';
	display: inline-block;
	background: var(--primary);
    height: clamp(12px, 2.75vh ,20px);
    width: clamp(1px,0.5vh,3.5px);
    transform: translate(-100%, 10%);
	}

  main.split-layout section div.sub-section div.choice {
    min-width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2.5%;
    align-items: center;
  }

  main.split-layout section div.sub-section div.choice button {
    border: none;
    background: transparent;
    padding: 1vh 2vh;
    border-radius: var(--br1);
    color: var(--text);
  }

  main.split-layout section div.sub-section div.choice div.field {
    display: flex;
    flex-direction: column;
    min-width: 45.25%;
    max-width: 45.25%;
    margin: 0.5vh;
  }

    main.split-layout section div.sub-section div.choice div.field label {
     border-radius: var(--br1);
     color: var(--text);
     font-size: clamp(12px,2vh,20px);
     max-width: 100%;
  }

  main.split-layout section div.sub-section div.choice div.field input {
    background: var(--bg-ghost);
     border: none;
     padding: 1vh 2vh;
     border-radius: var(--br1);
     color: var(--text);
     font-size: clamp(12px,2vh,20px);
     max-width: 100%;
  }

  main.split-layout section div.sub-section div.choice input[type=color] {
    background: transparent;
    border-radius: 100%;
    padding: 0;
    min-height: 5vh;
    max-height: 5vh;
    min-width: 5vh;
    max-width: 5vh;
  }

  main.split-layout section div.sub-section div.choice input[type=color].ghost {
      opacity: 60%;
  }

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
}

input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

  main.split-layout section div.sub-section div.choice div.field#email-field {
    min-width: 95%;
    max-width: 95%;
  }




   html[data-theme=dark] main.split-layout section div.sub-section div.choice button#dark {
    background: var(--secondary-ghost);
  }

  html[data-theme=light] main.split-layout section div.sub-section div.choice button#light {
    background: var(--secondary-ghost);
  }

  html[data-contrast=low] main.split-layout section div.sub-section div.choice button#low {
    background: var(--secondary-ghost);
  }

  html[data-contrast=normal] main.split-layout section div.sub-section div.choice button#normal {
    background: var(--secondary-ghost);
  }

  html[data-contrast=high] main.split-layout section div.sub-section div.choice button#high {
    background: var(--secondary-ghost);
  }

    button#delete-user {
    position: absolute;
    top: 100%;
    border: none;
    background: transparent;
    padding: 5vh;
    font-weight: 600;
    font-family: 'Inter';
    color: var(--text);
  }

  @media (hover: hover) and (pointer: fine) {
      button#delete-user:focus, button#delete-user:hover {
        color: red;
        text-decoration: underline;
  }
  }
  
@media (orientation: landscape) {
  main.split-layout {
    flex-direction: row;
  }

  main.split-layout section {
    width: 46%;
    max-width: 46%;
  }
}

@media (orientation: portrait) {
  main.split-layout {
    flex-direction: column;
    gap: 3vh;
  }

  main.split-layout section {
    width: 95%;
  }

  button#delete-user {
    top: 180%;
  }
}

