  .app-main {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    right: 2.5%;
    bottom: 2.5%;
    padding: 5%;
    z-index: 0;
    min-width: 74.25%;
    min-height: 82%;
    max-width: 74.25%;
    max-height: 82%;
    background: var(--bg-ghost);
    border-radius: var(--br3);
    transition: min-width .3s ease;
    will-change: min-width;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Inter';
  }

    .app-main.toggled {
      min-width: 95%;
    }

    .app-main button#toggle {
      position: absolute;
      top: 3vh;
      left: 3vh;
      min-height: 0.9vw;
      min-width: 1.6vw;
      border: solid 1.5px var(--text);
      border-radius: var(--br1);
      background-color: transparent;
    }

    .app-main button#toggle::after {
      content: "";
      display: block;
      position: absolute;
      top: 20%;
      left: 0;
      min-height: 0.5px;
      min-width: 100%;
      background:  var(--text);
    }

    .app-main button#toggle::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 5px;
      min-height: 80%;
      min-width: 1px;
      background: var(--text);
    }

    .app-main button#toggle.toggled::before {
      background: transparent;
    }

    .item {
      min-width: 32vh;
      min-height: 18vh;
      max-width: 32vh;
      max-height: 18vh;
      margin: 1vh;
      background: var(--bg-ghost);
      border-radius: var(--br2);
    }

    #add-widget {
      position: absolute;
      bottom: 2.5%;
      left: 50%;
      transform: translate(-50%,0%);
      border: none;
      background: none;
      color: var(--text);
    }
    #add-widget:hover,#add-widget:focus {
      text-decoration: underline;
    }