.layout {
  --sidebar-width: 300px;
  --transition-speed: 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh; 
  overflow: hidden;
  min-width: 100%;
  background-color: red;
}



.layout.collapsed .sidebar {
  flex-basis: 0;
}

.main-content {
  flex: 1;
  overflow: auto;
  background: #ecf0f1;
}